* {
    font-family: 'VT323', monospace;

}
html {
    background: url(images/bg.jpg), linear-gradient(#57D2F4, #04A287);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

main#start-page {
    background-color: rgba(240, 248, 255, 0.8);
    /* Centers content */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* --- */

    width: 800px;
    height: 500px;
}

#start-page {
    /* Centers items in content */
    display: flex;
    justify-content: center;
    align-items: center;

}
#start-page>#content {
    /* background-color: rgba(165, 42, 42, 0.1); */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 50pt;
    font-weight: normal;
}
img {
    position: relative;
    bottom: -7px;
}
button {
    /* SIZING */
    padding: 7px 30px;

    font-size: 40pt;
    color: #F3F0EC;
    background-color: #2B2024;
    border: 2px solid #F3F0EC;

    /* TRANSITION ANIMATION */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

button:hover {
    transform: scale(3, 3);
    cursor: pointer;
    color: #2B2024;
    background-color: #F3F0EC;
    border: 2px solid #2B2024;
}
/* ----- END OF START PAGE */
