html {
    background: url(images/bg.jpg), linear-gradient(#57D2F4, #04A287);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;

    max-width: 1400px;
    height: 768px;

    color: #F3F0EC;
}
.hide {
    display: none;
}
.centerText {
    text-align: center;
}

/* HOW TO BOX */
#how-to {
    background-color: black;

    /* Positioning */
    margin: auto;
    position: relative;
    z-index: 2; /* Bring at the front */
    width: 400px;
    padding: 0 75px;
}
/* ------ */


#play-page,
#grid-box,
#history {
    width: 418px; /* size of grid, etc */
    border: 2px solid rgb(44, 14, 78);

}
#play-page,
#stats {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.4);

}


/* GAME CONTAINER */
#play-page{
    background-color: lightseagreen;
    /* Centers content in Middle-ish */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 450px;
    /* ---  
    define a width&height or it'll use the whole page & won't center*/
    height: 500px;

}
/* ---- */


/* GRID-WALK */
#grid-box {
    background-color: #86879E;

}


#grid-box>#grid div {
    /* border: 1px solid black; */
    width: 16px;
    height: 16px;
    float: left; /* displays as a grid */
}

#grid-stats {
    position: absolute;
    bottom: 0;
    left: 20px;
}
/* ------- */



/* STATS */
div>h1 {
    /* Align -Stats- to center */
    position: relative;
    left: 40px;
    letter-spacing: 5px;
}

#stats {
    /* Color & txt Shadow */
    background-color: #495466;
    text-shadow: -3px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(44, 14, 78);


    /* Stats Box Size */
    width: 250px;
    height: 475px;

    /* Content Display Settings*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* Container Settings */
    position: absolute;
    right: 650px;
    top: 0;
    padding: 0 0 25px 25px;
    margin: 0 25px;

}

/* ------ */


#history {
    background-color: #32343D;
    overflow: hidden;
}


#menu {
    background-color: darkgray;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}