* {
    font-weight: normal;
    font-family: 'VT323', monospace;
}

html {
    background: url(images/bg1.png), linear-gradient(#57D2F4, #04A287);
    background-repeat: repeat-x;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;

    color: #F3F0EC;
    overflow: hidden;
    font-size: 25px;
}

body {
    margin: auto;
    height: 100%;
    user-select: none;
}

/* GRID CONTAINER */
#content {
    /* PERFECT CENTER*/
    height: 100%;
    display: grid;
    column-gap: 10px;

    /* Build Grid Display*/
    /* Grid widths */
    grid-template-columns: 0fr 0fr 150px;

    justify-content: center;
    align-content: center;
}



/* HOW TO BOX */
.pop-up {
    position: absolute;
    background-color: #2B2024;
    border: 10px double #F3F0EC;
    /* Positioning */
    margin: 0 auto;
    position: absolute;
    left: -100%;
    right: -100%;
    z-index: 2;

    width: 420px;
    padding: 5px 75px;
    justify-content: center;
    align-items: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    animation-name: pop;
    animation-duration:  0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes pop {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}

.key {
    border: 2px solid #F3F0EC;
    padding: 0 10px;
}

/* ------------------  END OF HOW TO BOX*/



/* BOX SHADOWS */
#play-page,
#stats {
    box-shadow: -5px 4px 2px rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(29, 28, 28);
}

/*  GAME CONTAINER  */
#grid-box {
    /* size of anything inside grid-box */
    line-height: 10px;
}

#play-page {
    margin-left: 20px;
    background-color: #64C196;
    /* define a width&height or it'll use the whole page & won't center*/
    width: 386px;
    height: 420px;
}

/* ------- END OF GAME CONTAINER*/

/* GRID-WALK */
#grid-box {
    background-color: #64C196;
    /* Used so hearts absolute is to grid-box */
    position: relative;
}

#grid div {
    /* border: 1px solid black; */
    width: 32px;
    height: 32px;
    /* display grid like a grid */
    float: left;
}

#grid div img {
    width: 32px;

    /* FIX TILE OVERLAY */
    background-color: #64C195;
}

#knight img {
    position: absolute;
    z-index: 1;
}

#nameplate {
    /* margin-top: 16px; */
    padding: 2px 5px;

    font-size: 11pt;
    background-color: rgba(34, 32, 48, 0.8);

    position: relative;
    bottom: 50%;
    right: 50%;
    margin: 0 -100%;
}

#grid div {
    text-align: center;
}

#life {
    position: absolute;
    top: 35px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1px 2px;
}

/* ------- END OF GRID WALK*/

/* STATS BOX*/
div>h1 {
    /* Align -Stats- to center */
    position: relative;
    /* left: 40px; */
    letter-spacing: 5px;
}

#stats {
    /* Color & txt Shadow */
    background-color: #4C2E35;
    text-shadow: -3px 2px rgba(0, 0, 0, 0.4);

    /* Stats Box Size */
    width: 270px;
    height: 475px;

    /* Container Settings */
    position: relative;
    padding: 0 25px;
    /* margin: 0 25px; */
    /* left: -380px;
    top: 0;
    
     */

    line-height: 25px;

   
}


input {
    /* background-color: #4C2E35; */
    background-color: #F3F0EC;
    padding: 4px 0;
    box-shadow: -3px 3px #323642;
    border: 1px solid #222030;
}

progress {
    width: 100%;
    height: 10px;
    background-color: none;
    vertical-align: middle;
}

table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

table#tableName {
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    text-align: left;
}
tr {
    /* TRANSITION ANIMATION */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
tr:hover {
    transform: scale(1.1, 1.1);
}

td {
    text-align: right;
    width: 100%;
    font-size: 50px;
    vertical-align: middle;
}

progress {
    width: 100%;
    height: 10px;
    background-color: none;
    vertical-align: middle;
}

/* --------------- END OF STATS*/

/* HISTORY */
#history {
    background-color: #4C2E35;
    height: 32px;
    width: 383.5px;
    /* Hide scroll bars */
    overflow: hidden;
    /* Displays all in one line */
    display: flex;
    /* 1 2 3 ==> 3 2 1 */
    flex-direction: row-reverse;
    /* Determines where new img appear (rtl = new img appear on most left */
    direction: rtl;
    margin-left: 1px;
}

#history img {
    width: 32px;
}

/*------------ END OF HISTORY*/


/* BUTTION MENU */
#menu {
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
}

#menu>div {
    margin: 0 10px;
}

button {
    /* SIZING */
    padding: 7px 10px;
    margin-bottom: 10px;
    width: 150px;

    font-size: 24pt;
    color: #F3F0EC;
    background-color: #2B2024;
    border: 2px solid #F3F0EC;

    /* TRANSITION ANIMATION */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

button:hover {
    transform: scale(1.2, 1.2);

    cursor: pointer;

    color: #2B2024;
    background-color: #F3F0EC;
    border: 2px solid #2B2024;
}
#exit {
    /* TRANSITION ANIMATION */
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
#exit:hover {
    transform: scale(1.2, 1.2);

    cursor: pointer
}

/* ------------- END OF BTN MENU */
/* RESET */
#reset {
    text-align: center;
}
#reset button {
    margin: 10px 30px;
}

/* GLOBAL CLASSES */
.hide {
    display: none;
}

.center {
    text-align: center;
    line-height: 30px;
}
/* ------------------- END OF CLASSES */

#endgame {
    position: fixed;
    /* Very front */
    z-index: 3; 
    width: 100%;
    height:100%;

    background-color: #2B2025;
    text-align: center;
    vertical-align: middle;

    animation-name: pop;
    animation-duration:  0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

}
#endgame button {
    margin: 10px 30px;
}